/* Fonts */

@font-face {
    font-family: roboto;
    src: url('../../Fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('../../Fonts/Montserrat-ExtraBold.ttf');
}

/* General */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

button, i, a {
    transition: all 0.4s;
}

button:hover {
    cursor: pointer;
}

button, input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

#particles-js {
    position: absolute;
    height: 86%;
    width: 100%;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>  Loading Screen <<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Animation For Inner Divs */

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Main Container */

.loader-container {
    background: #333;
    height: 100vh;
    width: 100%;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
    top:0%;
}

/* Inner Container/Flex */

.loader-inner-container {
    height: 120px;
    width: 120px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* setting position absolute to all inner divs */

.loader-circle, .loader-outer, .loader-inner {
    position: absolute;
}

/* Inner Circle */

.loader-circle {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border: 3px solid whitesmoke;
}

/* Outer Arc */

.loader-outer {
    height: 94%;
    width: 98%;
    border-radius: 50%;
    border-left: 3px solid cyan;
    -webkit-animation: spin 0.3s ease-in-out infinite;
    animation: spin 0.3s ease-in-out infinite;
}

/* Inner Arc */

.loader-inner {
    height: 60%;
    width: 63%;
    border-radius: 50%;
    border-right: 3px solid cyan;
    animation: spin 0.3s ease-in-out infinite reverse;
}

/* -------------------- Nav-bar -------------------- */

/* Nav-bar Container */

#nav-bar {
    z-index: 10;
    height: 10vh;
    width: 100vw;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: transparent;
}

/* Logo */

.logo {
    position: absolute;
    left: 3%;
    cursor: pointer;
    height: 170%;
    width: 120px;
}

/* Nav-bar List */

.nav-list>li {
    position: relative;
    margin: 2vh;
    list-style: none;
    display: inline-block;
}

/* Nav-bar List > inner anchor tags */

.nav-list>li a {
    color: #fff;
    display: inline-block;
    height: 20px;
    padding: 0px 8px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* Highlighting Current Page in navbar*/

.nav-list li a:active {
    font-weight: 600;
}

/* On Hover spacing: Nav-bar List */

.nav-list li a:hover {
    margin: 0px 30px;
}

/* On hover lines Animation */

/* Creating Lines using after and befoe*/

.nav-list li a::before, .nav-list li a::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* Adjusting Bottom Line */

.nav-list li a::before {
    margin-top: 30px;
    bottom: -30%;
    right: -20%;
}

/* Adjusting Upper Line */

.nav-list li a::after {
    left: -20%;
    top: -20%;
}

/* Increasing Line width on hover */

.nav-list li a:hover::before, .nav-list li a:hover::after {
    width: 140%;
}

/* Login button */

.login-button {
    position: absolute;
    display: block;
    right: 3%;
    border: 2px solid #f9f9ff;
    background-color: transparent;
    color: #f9f9f9;
    height: 35px;
    width: 110px;
    border-radius: 10px;
    font-size: 15px;
}

.login-button:hover {
    background-color: #f9f9f9;
    color: #000;
    -webkit-box-shadow: 0 0 10px #333232;
    box-shadow: 0 0 10px #333232;
}

#goToLogin {
    display: none;
}

.line {
    transition: all 0.5s ease-in-out;
}

@media screen and ( max-width:600px) {
    /* ---------- Navbar ---------- */
    #goToLogin {
        display: inline-block;
    }
    .login-button {
        display: none;
    }
    #nav-bar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-right: 20px;
    }
    .line {
        height: 4px;
        width: 35px;
        background-color: #fff;
        margin: 6px;
        border-radius: 5px;
    }
    .ham-menu {
        cursor: pointer;
        z-index: 50;
    }
    .nav-list {
        font-size: large;
        opacity: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100vw;
        background-color: #292929;
        opacity: 0.9;
        clip-path: circle(0px at 88% 5%);
        -webkit-clip-path: circle(0px at 88% 5%);
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        z-index: 45;
    }
    .nav-list.open {
        clip-path: circle(1000px at 88% 5%);
        -webkit-clip-path: circle(1000px at 88% 5%);
    }
    .ham-menu.animateLine #line1 {
        position: relative;
        -webkit-transform: rotate(45deg) translateY(14px);
        -ms-transform: rotate(45deg) translateY(14px);
        transform: rotate(45deg) translateY(14px);
    }
    .ham-menu.animateLine #line2 {
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
        background: transparent;
    }
    .ham-menu.animateLine #line3 {
        position: relative;
        -webkit-transform: rotate(-45deg) translateY(-15px);
        -ms-transform: rotate(-45deg) translateY(-15px);
        transform: rotate(-45deg) translateY(-15px);
    }
}

/*--------account page-------*/

.login-container {
    margin: 20px auto;
    margin-top: 12vh;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 80px 0 rgba(209, 255, 253, 0.13);
}

.login-image {
    width: 200px;
    height: 500px;
    background-image: url('../../Media/Images/151041971_5762214670470628_7938646762508648066_n.jpg');
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    position: relative;
}

.image-heading {
    display: block;
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 10%;
    font-size: 4vw;
    font-weight: 900;
    color: whitesmoke;
}

.login-form-container {
    background: rgba(49, 49, 49, 0.568);
    min-width: 300px;
    height: 500px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 80px 0 rgba(0, 240, 248, 0.829);
    overflow: hidden;
}

@media only screen and (max-width: 992px) {
    .login-image {
        display: none;
    }
    .login-container {
        box-shadow: none;
    }
    .login-form-container {
        box-shadow: none;
    } 
}

@media only screen and (max-width: 472px) {
    .login-form-social-signin1, .login-form-social-signin2 {
        width: 100% !important;
        font-size: 13px;
    }
    .login-container {
        width: 80%;
    }
    .login-form-social-signin1::before, .login-form-social-signin2::before {
        height: 15px;
        width: 15px;
    }
    .login-form-social-signin2::before {
        margin-right: 8px;
    }
    .input-box {
        width: 70% !important;
    }
}

.switch-btn {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    color: whitesmoke;
}

.login-form-btn {
    display: inline-block;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    /* max-width: 300px; */
    padding: 0 20px;
    position: absolute;
    top: 90px;
    transition: all 0.3s;
}

.input-box input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: none;
    outline: none;
    background: transparent;
    color: whitesmoke;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-left: 40px;
    padding-bottom: 2px;
}

.input-box {
    position: relative;
    width: 100%;
}

.input-box input:focus {
    background-color: rgba(85, 85, 85, 0.473);
}

.form-icon {
    left: 2%;
    top: 26%;
    position: absolute;
    height: 20px;
    width: 20px;
    opacity: 0.8;
    transition: all 0.7s;
}

.input-box:hover .form-icon {
    transform: rotate(360deg);
}

.checkbox {
    margin-top: 10px;
    display: block;
    width: 100%;
    color: aliceblue;
    font-size: 15px;
}

.login-form-btn2 {
    display: block;
    border-radius: 30px;
    width: 80%;
    height: 40px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    color: whitesmoke;
    background: linear-gradient(to left, rgba(0, 225, 255, 0.89), rgba(9, 160, 230, 0.842));
}

.login-form-social-signin1, .login-form-social-signin2 {
    width: 100%;
    display: block;
    height: 35px;
    margin: 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to left, rgba(0, 225, 255, 0.548), rgba(0, 174, 255, 0.205));
    color: whitesmoke;
    padding-left: 20px;
    position: relative;
}

.login-form-social-signin1::before, .login-form-social-signin2::before {
    display: block;
    content: '';
    height: 20px;
    width: 20px;
    top: 20%;
    position: absolute;
}

.login-form-social-signin1::before {
    background-image: url('../../Media/Icons/search.png');
    background-size: cover;
}

.login-form-social-signin2::before {
    background-image: url('../../Media/Icons/facebook.png');
    background-size: cover;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0
}

.login-form-container form a {
    margin-top: 10px;
    font-size: 12px;
    color: aliceblue;
}

#login-Indicator {
    width: 100px;
    border: none;
    background: #3bb1ff;
    height: 3px;
    margin-top: 8px;
    transform: translateX(155px);
    transition: transform 1s;
}

#social {
    display: block;
    position: absolute;
    bottom: 2%;
    left: 19%;
}

.icons {
    margin: 12px 5px;
    height: 25px;
    width: 25px;
    transition: all 0.3s ease-in-out;
}

/* ### Socials on hover #### */

#social a {
    position: relative;
}

/* Circles using after and before(opacity 0) */

/* Inner and Outer circles */

#social a::after, #social a::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid rgba(255, 255, 255, 0.842) 4px;
    border-radius: 50%;
    left: -7px;
    top: -33px;
    opacity: 0;
    transition: all 0.3s;
    z-index: 0;
}

/* Outer Circle */

#social a::after {
    width: 50px;
    height: 50px;
    left: -10px;
    top: -36px;
    transition: all 0.5s;
    border: solid rgba(255, 255, 255, 0.842) 2px;
}

/* Icreasing Opacity on hovering */

#social a:hover::before {
    opacity: 1;
    transform: scale(1.1);
}

#social a:hover::after {
    opacity: 1;
    transform: scale(1.2);
}
